<!-- 공통적으로 홈페이지 상단에 들어갈 화면 뷰 템플릿을 통해서 통일화 -->
<header>
    <div class="wrapper">
        <h1>세종시 전자 도서관</h1>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/signup">signup</a></li>
                <li><a href="/login">login</a></li>
            </ul>
        </nav>
    </div>
</header>