<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

    <link href="./public/semantic.min.css" rel="stylesheet">
    <link href="./public/icon.css" rel="stylesheet">
    <link href="./public/icon.min.css" rel="stylesheet">

    <title></title>
    <style></style>

    <script src="./public/jquery-2.1.4.min.js"></script>
    <script src="./public/semantic.min.js"></script>

</head>

<body>
    <!-- 미리 만들어 둔 header의 뷰 템플릿 가져옴 -->
    <%- include ('header') %>
</body>

</html>